
body {
    background-color: #f0efe8;
    font-family: 'Cormorant Garamond', serif;
    color: #7998B4;
    margin: 0;
}


a {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}

nav {
  overflow: hidden;
  align-items: center;

}


.nav-links a {
  text-decoration: none;
  color: #7998B4;
  font-family: 'Cormorant Garamond', serif;
}

.nav-links a:hover {
  color: #345678;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    text-align: center;
    color: #7998B4;
    height: 45px;
 }

.menu {
  display: flex;
  font-size: 16px;
  gap: 1em;
}

.menu li:hover {
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}



.menu h3 {
  font-size: 17px;
  text-align: center;
}






.wae h2 {
  text-align: center;
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #f0efe8;
  cursor: pointer;
  text-shadow: 2px 2px 4px #000000;
}



.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}



.img_home {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  display: flex;
}

.reveal{
  position: relative;
  transform: translateY(80px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}



.flawsandall {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 49%;
  padding: 1%;
  flex-direction: column;
}


.flawsandall h2{
  position: relative;
  text-align: center;
  font-size: 5rem;
  grid-area: content;
  display: grid;
}

.flawsandall h3 {
  text-align: center;
  font-size: 1.2rem;
}

.flawsandall img {
  display: block;
  width: 80%;
  height: 950px;
  max-width: 100%;
  margin: 0 auto;
}




.spotify iframe {
  border-radius: 12px;
  width: 100%;
  height: 500px;
  display: block;
  margin: 0 auto;
}


.hr1 {
  border: 2px solid #7998B4;
  width: 85%;
}

.hr3 {
  border: 2px solid #123456;
  width: 85%;
}

.shop {
 display: flex;
 justify-content: space-evenly;
 align-items: center;

}


.shop h2 {
  position: relative;
  flex-wrap: wrap;
  padding: 7%;
  font-size: 2rem;
}

.button {

  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #345678; /* Set your desired background color */
  color: #ffffff; /* Set your desired text color */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
}

.button:hover {
  background-color: #123456; /* Set your desired background color on hover */
}

.homestore {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.homestore img {
  max-width: 100%;
  width: 500px;
  height: auto;
}

.homestoretext {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 200px;
}

.tour h2 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.tours-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.tours-container p {
text-align: center;
}

.tours-container h3 {
  font-size: 1.5rem;
}


.hr2 {
  border: 1px solid #7998B4;
  width: 40%;
}

.staytuned {
  text-decoration: none;
  color: #345678;
}





.merchcontainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 20px;
  margin: 0 auto; 
}


.merchcontainer img {
  width: 100%;
  height: auto;
  max-height: 500px;
  cursor: pointer;
}



.merchcontainer p,
.merchcontainer h2 {
  display: flex;
  justify-content: center;
  margin-top: 00px;
  margin-bottom: 30px;

}

.merchcontainer h3 {
  display: flex;
  justify-content: center;
}



.albumflaws {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.albumflaws h2 {
  font-size: 2rem;
  color: #345678;
}

.albumflaws a {
  text-decoration: none;
  color: #7998B4;
}

.albumflaws a:hover {
  color: #123456;
}


.listenmedia {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.listenmedia a{
  text-decoration: none;
  color: #345678;
}

.listenmedia a:hover {
  color: #7998B4;
}

.aboutcontainer {
  display: flex;
  background-color: #7998B4;
  padding: 20px; 
}

.aboutpara1 {
  flex: 1;
  padding: 50px;
  color: #f0efe8;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.aboutimage1 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.aboutimage1 img {
  padding: 50px;
  max-width: 100%;
  height: auto;
  width: 600px;
  height: 700px;
}



.aboutcontainer2 {
  display: flex;
      background-color: #7998B4;
      padding: 20px;
}

.aboutcontainer2 a {
  text-decoration: none;
  color: #f0efe8;
  padding: 20px;
  color: #f0efe8;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.aboutimage2 {
  flex: 0.7;
  display: flex;
  justify-content: flex-start;
}

.aboutimage2 img {
  padding: 50px;
  max-width: 100%;
  height: auto;
  width: 600px;
  height: 700px;
}

.aboutpara2 {
  flex: 1;
      padding: 20px;
      color: #f0efe8;
      font-size: 1.5rem;
      display: flex;
      align-items: center; 
}


.images-end {
  background-color: #7998B4;
  padding: 10px;
  box-sizing: border-box;
  text-align: center; /* Center the content horizontally */
}

.images-end-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensure space between items */
}

.images-end img {
  flex-basis: 48%; /* Adjust as needed */
  max-width: 48%; /* Adjust as needed */
  height: auto;
  margin: 1%; /* Adjust as needed */
}

.images-end h2 {
  width: 100%;
  text-align: center;
  color: #123456;
  font-size: 2rem;
}


footer {
  text-align: center;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 0.75rem;
}

footer a {
  color: inherit;
  border: none;
  padding-top: 1rem;
  margin: 0 5px;
}




.social-icons {
  display: flex;
  justify-content: center;
}

.fa {
  text-decoration: none;
  display: flex;
  align-items: center;
  }
  

.fa a {
  margin: 0 5px;
}