
body {
    background-color: #f0efe8;
    font-family: 'Cormorant Garamond', serif;
    color: #7998B4;
    margin: 0;
}


a {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}

nav {
  overflow: hidden;
  align-items: center;
}


.nav-links a {
  text-decoration: none;
  color: #7998B4;
  font-family: 'Cormorant Garamond', serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    text-align: center;
    color: #7998B4;
 }

.menu {
  display: flex;
  font-size: 16px;
  gap: 1em;
}

.menu li:hover {
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}



.menu h3 {
  font-size: 17px;
}






.wae h2 {
  text-align: center;
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffff;
  cursor: pointer;
  text-shadow: 2px 2px 4px #000000;
}



.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.h2 {
}



.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}





.flawsandall {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 49%;
  padding: 1%;
  flex-direction: column;
}


.flawsandall h2{
  position: relative;
  text-align: center;
  font-size: 5rem;
  grid-area: content;
  display: grid;
}

.flawsandall h3 {
  text-align: center;
  font-size: 1.2rem;
}

.flawsandall img {
  display: block;
  width: 80%;
  height: 950px;
  max-width: 100%;
  margin: 0 auto;
}


.img_home {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  display: flex;
  
}





.spotify iframe {
  border-radius: 12px;
  width: 100%;
  height: 500px;
  display: block;
  margin: 0 auto;
}

